body{
    text-align: center;
    margin: 0;
}
.top-container{
    position: relative;
    background-color: #E4f9f5;
    padding-top: 100px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.name{
    font-family: 'pacifico';
    animation-name: "name";
    font-size: 5.625rem;
    animation-duration: 5s;
    margin-bottom: 10px;
    color: #66BFBF;
}
@keyframes name {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.subtitle{  
    font-family: 'fira mono';
    font-size: 2.5rem;
    margin-top: 10px;
    color: #66BFBF;
    font-weight: normal;
}
.picture{
    display: block;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}
h2{
    font-family: 'Roboto', sans-serif;
    color: #66BFBF;
    font-size: 2rem;
    margin: 50px auto;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: #11999E;
    font-size: 1.5rem;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: #40514E;
}
.sun{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: yellow;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 100%;
    filter: blur(1px);
}
.spot{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 20%;
    filter: blur(13px);    
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto; 
    text-align: left;
    line-height: 2;
}
.bottom-container{
    background-color: #66BFBF;
    padding-bottom: 20px;
    padding-top: 10px;
}
.footer-link{
    margin-top: 100px;
}
hr{
    border: none;
    border-top: 10px dotted #EAF6F6;
    width: 120px;
    margin: 100px auto;
}